@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #2F356D;
}
h1{
    color: #fff;
    font-weight: 500;
}
img{
    width: 150px;
}
.main-heading{
    padding: 200px 0;
}
button{
    padding: 10px 30px;
    font-size: 16px;
}
@media(max-width: 411px){
    img{
        width: 80px;
    }
    button{
        padding: 7px 20px;
        font-size: 12px;
    }
}
@media(max-width: 311px){
    img{
        width: 80px;
    }
    button{
        padding: 7px 20px;
        font-size: 12px;
    }
}
